.teste{
    height: 800px;
    width: 800px;
    background-color: aqua;
    font-size: 6em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-left: calc(50% - 400px);
}